[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group DE_Lab_Security-admins
	read = group DE_Lab_Security-admins
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	push = group DE_Lab_Security-admins
	label-Code-Review = -2..+2 group DE_Lab_Security-admins
	label-Verified = -1..+1 group DE_Lab_Security-admins
	rebase = group DE_Lab_Security-admins
	submit = group DE_Lab_Security-admins
[plugin "data-owner"]
	DataOwner = earujos
	DataOwnerDepartment = BCSS NM Eng EE Development Tools
